# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# VS Code settings
.vscode/

# py2app build folders
build/
dist/
*.egg-info/

# Streamlit cache and logs
.streamlit/
*.log

# DMG or ZIP packages
*.dmg
*.zip

# Output files
transaction.csv

# Icon and temporary assets
*.icns
*.iconset/